
.only-mobile {
  display: block;
}
@media (min-width: 768px) {
  .only-mobile {
    display: none !important;
  }
}


.only-desktop {
  display: none;
}
@media (min-width: 768px) {
  .only-desktop {
    display: block !important;
  }
}
